    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Creative - Start Bootstrap Theme</title>
        <!-- Favicon-->
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <app-header></app-header>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">განათავსე ან მოძებნე სამუშაო</h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 font-weight-light mb-5">ტესტეტსერსუ გუყგდუოს ფაოყ გაჰობო უფოაყ დვოუ</p>
                        <!-- <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">განათავსე პროექტი</a> -->
                        <button mat-button style="background:#fff; padding: 20px; background-color: var(--orange); color: white;">განათავსე პროექტი</button>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">თუ ხარ ფრილანსერი</h2>
                        <hr class="divider light my-4" />
                        <p class="text-white-50 mb-4">მოძებნე სამუშაო სყოგდ8 გ8დგყოა გყუგდოჰიგაო გ ყოიჰლბდ ლის</p>
                        <!-- <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">მოძებნე სამუშაო</a> -->
                        <button mat-button style="padding: 20px; background-color: white; color: black;">განათავსე პროექტი</button>

                    </div>
                </div>
            </div>
        </section>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <h2 class="text-center mt-0">მუშაობის პრინციპი</h2>
                <hr class="divider my-4" />
                <div class="row" style="justify-content: center;">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="circle_add_icon myIcon"></i>
                            <h3 class="h4 mb-2">დაამატე პროექტი</h3>
                            <!-- <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p> -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="myIcon messages_icon"></i>
                            <h3 class="h4 mb-2">მიიღე შემოთავაზება</h3>
                            <!-- <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p> -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="myIcon done_icon"></i>
                            <h3 class="h4 mb-2">აირჩიე ფრილანსერი</h3>
                            <!-- <p class="text-muted mb-0">You can use this design as is, or you can make changes!</p> -->
                        </div>
                    </div>
                    <!-- <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-heart text-primary mb-4"></i>
                            <h3 class="h4 mb-2">მარტივად გააფორმე კონტრაქტი</h3>
                            <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
        <!-- Portfolio-->
        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/1.jpg">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/1.jpg" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/2.jpg">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/2.jpg" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/3.jpg">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/3.jpg" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/4.jpg">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/4.jpg" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/5.jpg">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/5.jpg" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/6.jpg">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/6.jpg" alt="" />
                            <div class="portfolio-box-caption p-3">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to action-->
        <!-- <section class="page-section bg-dark text-white">
            <div class="container text-center">
                <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
                <a class="btn btn-light btn-xl" href="https://startbootstrap.com/themes/creative/">Download Now!</a>
            </div>
        </section> -->
        <!-- Footer-->

        </body>
        </html>
        <!-- Bootstrap core JS-->
        <!-- Core theme JS-->
        <!-- <script src="js/scripts.js"></script> -->