.nav-item a, span, p {
    font-family: "BPG Nino Mtavruli" !important;
}
.nav-item a {
    font-size: 16px !important;
}
.nav-item {
    cursor: pointer;
}
::ng-deep .loginPage .registrationContainer {
    margin: 0px !important;
}
::ng-deep .loginPage .registrationContainer h1{
color: white !important;
}
::ng-deep .loginPage[chooseType="true"] mat-card h1, ::ng-deep .loginPage[chooseType="true"] mat-card i{
    color: black !important;
}
::ng-deep .loginPopup.popup {
    width: 540px !important;
    background-color: transparent !important;
    grid-template-rows: 30px auto !important;
}
::ng-deep .loginPopup.popup i {
    color: white;
}
.profileCircle {
    padding: 15px;
    border: 2px solid #ff8d6f;
    border-radius: 140px;
    position: absolute;
    top: 8px;
    background: rgba(255,255,255,0.7);
    min-width: 60px;
    text-align: center;
}
searchbar {
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    height: 40px;
    width: 300px;
    margin-left: 20px;
}
.userSection {
    position: fixed;
    background: white;
    height: 100%;
    right: -320px;
    width: 320px;
    z-index: 9999;
    transition: 0.2s all ease-out;
    box-shadow: -5px 0px 5px rgba(0,0,0,0.25);
    top: 0;
}
.userSection.show {
    right: 0px;
}
.userSection p {
    height: 80px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    margin: 0;
    cursor: pointer;
    display: flex;
}
.userSection p:hover {
    background-color: rgba(0,0,0,0.12);
}
.userSection p span {
    margin:auto;
}
.userSection mat-icon {
    float: left;
    margin-top: -2px;
    margin-right: 10px;
}