<app-header [showSearchBar]="false"></app-header>
<main class="centerArea">
<div class="termsContainer" *ngIf="termsType == 0">
    <h1>წესები და პირობები ფრილანსერისთვის</h1>
    <p>ტეს ტესტ ტ დუჰოდიაგჰისდგოყგ აჰჯჰბ ჰოაფგობ დოჰაგფუჰდ ოჰფგოა დგჰაბჰოალ ბდლკ ყოლა</p>
</div>
<div class="termsContainer" *ngIf="termsType == 1">
    <h1>წესები და პირობები ბიზნესისთვის</h1>
    <p>ტეს ტესტ ტ დუჰოდიაგჰისდგოყგ აჰჯჰბ ჰოაფგობ დოჰაგფუჰდ ოჰფგოა დგჰაბჰოალ ბდლკ ყოლა</p>
</div>
<div class="termsContainer" *ngIf="termsType == 2">
    <h1>წესები და პირობები ნარდობისთვის</h1>
    <p>ტეს ტესტ ტ დუჰოდიაგჰისდგოყგ აჰჯჰბ ჰოაფგობ დოჰაგფუჰდ ოჰფგოა დგჰაბჰოალ ბდლკ ყოლა</p>
</div>
</main>
