.centerArea {
    height: 100%;
    width: 1024px;
    padding-top: 20px;
    margin: auto;
    margin-top: 75px;
}
.profilePicture {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 250px;
    float: left ;
}
.nameContainer {
    float: left;
    width: 600px;
    padding: 10px 20px;
}
.nameContainer p {
    padding: 0;
    margin:0;
}
::ng-deep .nameContainer .name * {
    font-family: FiraGO-Medium;
    font-size: 19px;
}
::ng-deep p-label p {
    margin: 0;
}
p-label {
    display: flex;
}
.nameContainer .email {
    font-size: 13px;
    color: var(--blue);
}
.nameContainer .description {
    margin-top: 20px;
}
::ng-deep .nameContainer .description input {
    width: 550px;
}
p {
    font-family: FiraGO-Book;
}
.bottomContainer {
    float: left;
    margin-top: 40px;
    clear: both;
    display: flex;
    justify-content: center;
    width: 100%;
}
.bottomContainer > div {
    /* display: inline-flex;÷ */
    /* width: 33%; */
    width: 50%;
}
.bottomContainer > div > p {
    font-weight: bold;
    font-family: FiraGO-Regular;
}
.bottomContainer > div > p {
    margin: 0;
}
::ng-deep p-label input {
    background: rgba(255,255,255,0.4);
    border: 1px solid #bbb;
}
.profileContainer {
    float: left;
    width: inherit;
}
.projectsContainer {
    float: left;
    margin-top: 70px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    .project {
        background: white;
        padding: 20px;
        width: 700px;
        border: 1px solid #d4d4d4;
        
        .title {
            font-size: 20px;
            font-weight: bold;
        }
        .description {
            font-size: 15px;
        }
        .id {

        }
        .bids {
            float: right;
            color: var(--blue);
            font-size: 15px;
        }
    }
}
.loadMore {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 40px;
    line-height: 40px;
    color: var(--blue);
    text-decoration: underline;
    cursor: pointer;
}
