<app-header></app-header>
<main class="centerArea">
    <div class="profileContainer">
        <img class="profilePicture" src="../../../assets/img/portfolio/fullsize/1.jpg" />
        <div class="nameContainer">
            <p class="name">{{currentUser.fullname}}</p>
            <p class="email">{{currentUser.email}}</p>
            <p class="description">bsydgoyuahbhoivfoyabilhfvooagilbhjibaf hou fohagoyu gohfg aog ohifb ahg fouy oyfvv aohv ofshuv osav ouv dos</p>
        </div>
        <div class="bottomContainer">
            <div>
                <p>პირადი ნომერი</p>
                <p>12345678910</p>
            </div>
            <div>
                <p>საქმიანობის სფერო</p>
                <p>პროგრამისტი</p>
            </div>
            <div>
                <span class="material-icons" style="
                        float: left;width: 60px;font-size: 55px;">payment</span>
                <p>საბანკო რეკვიზიტები</p>
                <p>GE12334567810</p>
            </div>
        </div>
    </div>
</main>
