<app-header></app-header>
<main class="centerArea">
    <div class="profileContainer">
        <img class="profilePicture" src="../../../assets/img/portfolio/fullsize/1.jpg" />
        <div class="nameContainer">
            <p-label class="name" [(ngModel)]="currentUser.fullname" [editingDirection]="'horizontal'"
                [editing]="editing" [editControls]="false"></p-label>
            <!-- <p class="name">{{currentUser.fullname}} -->
            <!-- <span style="font-size: 13px;float: right;">&nbsp;&nbsp;&nbsp;&nbsp; მომხმარებლის ტიპი: {{currentUser.userTypeTxt}}</span> -->
            <!-- </p> -->
            <p class="email">{{currentUser.email}}</p>
            <p-label class="description" placeholder="შეიყვანეთ აღწერა" [(ngModel)]="currentUser.description"
                [editControls]="false" [editing]="editing"></p-label>
        </div>
        <div style="margin-bottom:40px">
            <button *ngIf="!editing && filterUserID == 0" class="mat-button"
                style="background: #f9c42e;color: white;height: 50px;width: 160px;" mat-button
                (click)="editing = true">შეცვლა</button>
            <button *ngIf="editing && filterUserID == 0" class="mat-button"
                style="background: var(--green);color: white;height: 50px;width: 160px;" mat-button
                (click)="saveProfile()">შენახვა</button>
        </div>
        <div class="bottomContainer">
            <div>
                <span class="material-icons"
                    style="float: left;width: 60px;font-size: 55px;margin-top: -3px;">{{currentUser.userType == 0 ?
                    'person' : 'business'}}</span>
                <p>{{currentUser.userType == 0 ? 'პირადი ნომერი' : 'საიდენტიფიკაციო კოდი'}}</p>
                <p-label [(ngModel)]="currentUser.tin" [editControls]="false" [editing]="editing"></p-label>
            </div>
            <!-- <div style="visibility: hidden;">
                <p>საქმიანობის სფერო</p>
                <p-label [(ngModel)]="currentUser.workType" [editControls]="false" [editing]="editing"></p-label>
            </div> -->
            <div>
                <span class="material-icons"
                    style="float: left;width: 60px;font-size: 55px;margin-top: -3px;">payment</span>
                <p>საბანკო რეკვიზიტები</p>
                <p-label [(ngModel)]="currentUser.bankNumber" [editControls]="false" [editing]="editing"></p-label>
            </div>
        </div>
    </div>
    <div class="projectsContainer" *ngIf="filterUserID == 0">
        <h1>პროექტები</h1>
        <div class="tabsPanel">
            <span class="tab" [ngClass]="tabActiveClass(0)" (click)="changeTab(0)"
                *ngIf="currentUser.userType == 1">ღია</span>
            <span class="tab" [ngClass]="tabActiveClass(1)" (click)="changeTab(1)">მიმდინარე</span>
            <span class="tab" [ngClass]="tabActiveClass(2)" (click)="changeTab(2)">დასრულებული</span>
        </div>
        <div class="project" *ngFor="let project of myProjects; trackBy:trackByFn"
            (click)="openProjectDetails(project)">
            <span class="bids" style="float: right;" *ngIf="tabActiveIndex == 0">{{project["bidsCount"]}}
                შეთავაზება</span>
            <p class="title">{{project.projectName}}&nbsp;&nbsp;<span style="font-size: 15px;">({{project.projectType ==
                    0 ? 'ერთჯერადი' : 'ყოველთვიური'}})</span><span style="font-size: 15px; float: right;"
                    *ngIf="tabActiveIndex == 1 && project.workerFullName.length > 0">შემსრულებელი: <a
                        clickStopPropagation
                        href="/Profile/{{project.workerUserId}}">{{project.workerFullName}}</a></span></p>
            <!-- <span class="id">{{project.ID}}</span> -->

            <p class="description">{{project.projectDescription}}</p>
            <p class="budget" style="float: left;margin-top: 10px;">ბიუჯეტი: ₾{{project.budget}}</p>
            <button class="mat-button detailsBtn" mat-button>
                <mat-icon style="float: left; margin-left: 10px;">more_horiz</mat-icon>დეტალურად
            </button>
        </div>
        <div class="loadMore" (click)="loadMore()" *ngIf="showLoadMore">მეტის ჩატვირთვა</div>
    </div>
</main>