<app-header></app-header>
<main class="centerArea">
    <mat-card>
        <mat-form-field appearance="outline">
            <mat-label>დავალების სახელი</mat-label>
            <input matInput placeholder="შეიყვანეთ დავალების სახელი">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>დავალების დახასიათება</mat-label>
            <textarea style="height: 120px;" matInput placeholder="შეიყვანეთ დახასიათება"></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>მოთხოვნები</mat-label>
            <input matInput placeholder="შეიყვანეთ მოთხოვნები">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>ვადები</mat-label>
            <input matInput placeholder="შეიყვანეთ მოთხოვნები">
          </mat-form-field>
    </mat-card> 
</main>


