<app-header></app-header>
<main class="centerArea">

    <mat-accordion>
        <mat-expansion-panel [(expanded)]="showCommonInfo">
          <mat-expansion-panel-header>
            <mat-panel-title>
              ზოგადი დეტალები
            </mat-panel-title>
            <mat-panel-description>
              {{selectedCategory}} 
              {{selectedType}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-card>
            <mat-form-field appearance="outline">
                <mat-label>პროექტის კატეგორია</mat-label>
                <mat-select required [(ngModel)]="newProject.projectCategory" (ngModelChange)="tryShowingProjectDetails()">
                    <mat-option *ngFor="let category of categories" [value]="category.value">{{category.label}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>პროექტის ტიპი</mat-label>
                <mat-select required [(ngModel)]="newProject.projectType" (ngModelChange)="tryShowingProjectDetails()">
                    <mat-option [value]="1">ერთჯერადი</mat-option>
                    <mat-option [value]="2">ყოველთვიური</mat-option>
                </mat-select>
              </mat-form-field>
        </mat-card>
        </mat-expansion-panel>
        
        <mat-expansion-panel [(expanded)]="showProjectInfo">
          <mat-expansion-panel-header>
            <mat-panel-title>
              პროექტის შესახებ დეტალები
            </mat-panel-title>
            <mat-panel-description>
              <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-card>
            <mat-form-field appearance="outline">
                <mat-label>პროექტის სახელი</mat-label>
                <input required [(ngModel)]="newProject.projectName" matInput placeholder="შეიყვანეთ დავალების სახელი">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>პროექტის დახასიათება</mat-label>
                <textarea required [(ngModel)]="newProject.projectDescription" style="height: 120px;" matInput placeholder="შეიყვანეთ დახასიათება"></textarea>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>საკვალიფიკაციო მოთხოვნები</mat-label>
                <input required [(ngModel)]="newProject.projectCriteria" matInput placeholder="შეიყვანეთ მოთხოვნები">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>ბიუჯეტი (ლარი დღგ-ს გარეშე)</mat-label>
                <input required type="number" [(ngModel)]="newProject.budget" matInput placeholder="შეიყვანეთ მოთხოვნები">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>დაწყების თარიღი</mat-label>
                <input required [(ngModel)]="newProject.startDate" matInput (focus)="picker.open()" [min]="minDate" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="outline" *ngIf="this.newProject.projectType == 2">
                <mat-label>თვეების ხანგრძლივობა</mat-label>
                <input required type="number" [(ngModel)]="newProject.monthsLength" matInput placeholder="შეიყვანეთ ხანგრძლივობა (თვეები)">
              </mat-form-field>
              <mat-form-field appearance="outline" *ngIf="this.newProject.projectType == 1">
                <mat-label>დასრულების თარიღი</mat-label>
                <input matInput [(ngModel)]="newProject.endDate" (focus)="picker1.open()" [min]="minDate" required [matDatepicker]="picker1">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
        </mat-card>
        </mat-expansion-panel>
      <button mat-button style="background-color: var(--green); padding: 10px 30px; float: right; margin-top: 20px; margin-bottom: 40px; color: white;" (click)="saveProject()">შენახვა</button>

      </mat-accordion>
      
</main>


