<mat-form-field appearance="outline">
    <mat-label>შესთავაზეთ ბიუჯეტი (₾)</mat-label>
    <input matInput  placeholder="შეიყვანეთ თქვენთვის სასურველი ფასი">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>ვადა (შეიყვანეთ დღეები)</mat-label>
    <input matInput  placeholder="რა დროში დაამთავრებთ?">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>გადახდის პირობა</mat-label>
    <input matInput  placeholder="">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>კომენტარი</mat-label>
    <textarea matInput style="height: 70px;" placeholder="კომენტარი"></textarea>
  </mat-form-field>
<button mat-button style="background-color: var(--blue); color: white; height: 55px;">შეთავაზების გაგზავნა</button>
