<app-header></app-header>
<main class="centerArea">
    <mat-card *ngFor="let project of projects">
        <div class="jobArea">
            <div class="job">
                <h1 class="projName">{{project.projectName}}</h1>
                <p class="projCreateDate">{{project.startDate}}</p>
                <p class="projDescription">{{project.projectDescription}}</p>
            </div>
        </div>
        <div class="bids">
            <p>5 bidi</p>
            <!-- <button>bid</button> -->
        </div>
        <div class="criterias">
            მოთხოვნები
        </div>
        <button mat-button class="btnBid">დაბიდე</button>
    </mat-card>
</main>