<app-header></app-header>
<main class="centerArea">
    <mat-card *ngFor="let project of projects; trackBy:trackByFn" [attr.expanded]="project.expanded" (click)="project.expanded = !project.expanded">
        <div class="jobArea">
            <div class="job">
                <p style="margin:0;">{{'#' + project.ID}}</p>
                <h1 class="projName">{{project.projectName}}</h1>
                <p class="projDeadline">{{project.startDateStr}} - {{project.endDateStr}}</p>
                <p class="projDescription">{{project.projectDescription}}</p>
            </div>
        </div>
        <div class="jobDetails">
        <p *ngIf="project.projectType == 2">პროექტის ხანგრძლივობა <br /> {{project.monthsLength}} თვე</p>
        <p style="font-size: 16px;">ბიუჯეტი: <br /> <span style="color: var(--green);">₾{{project.budget}}</span></p>

            <!-- <p>5 bidi</p> -->
            <!-- <button>bid</button> -->
        </div>
        <div class="criterias">
            {{project.projectCriteria}}
        </div>
        <button mat-button class="btnBid" (click)="showBidPopup = true">შეთავაზება</button>
    </mat-card>
</main>
<popup [(visible)]="showBidPopup" *ngIf="showBidPopup">
    <p-header>
        შეთავაზება
    </p-header>
    <p-content>
        <app-bid></app-bid>
    </p-content>
</popup>