<div class="registrationContainer">
  <div class="headerText">
    <i *ngIf="tab == 1 && (registrationType == 0 || registrationType == 1)"
    class="material-icons regTypeIcon">{{registrationType == 0 ? "person" : "business"}}</i>
    <h1>{{tab == 0 ? 'შესვლა' : (registrationType == 0 || registrationType ==1) ? 'რეგისტრაცია' : ''}}</h1>
  </div>
  <ng-container *ngIf="tab==0">
    <mat-card>
      <div style="float: left; width: 100%; text-align: center; padding: 0px 40px;">
        <mat-form-field appearance="outline">
          <mat-label>ელ. ფოსტა</mat-label>
          <input matInput [(ngModel)]="userLogin.email" placeholder="შეიყვანეთ ელ.ფოსტა">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>პაროლი</mat-label>
          <input matInput type="password" [(ngModel)]="userLogin.password" placeholder="შეიყვანეთ პაროლი">
        </mat-form-field>
        <button class="mat-button" style="background: #f9c42e;color:white" mat-button (click)="login()">შესვლა</button>
      </div>
    </mat-card>
  </ng-container>
  <ng-container *ngIf="tab==1">
    <ng-container *ngIf="registrationType != 0 && registrationType != 1">
      <mat-card style="text-align: center;">
        <h1 style="font-size:20px; margin-top: 10px;">დარეგისტრირდი</h1>
        <div class="chooseTypeContainer">
          <div class="chooseUserType" (click)="registrationType = 1">
            <i class="material-icons chooseEntity">business</i>
            <p>ბიზნესად</p>
          </div>
          <div class="chooseUserType" (click)="registrationType = 0">
            <i class="material-icons chooseEntity">person</i>
            <p>ფრილანსერად</p>
          </div>
        </div>
      </mat-card>
    </ng-container>
    <ng-container *ngIf="registrationType==0">
      <mat-card>
        <div style="float: left; width: 50%; padding-right: 20px;">
          <mat-form-field appearance="outline">
            <mat-label>ელ. ფოსტა</mat-label>
            <input matInput [(ngModel)]="userRegistration.email" placeholder="შეიყვანეთ ელ.ფოსტა">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>სახელი გვარი</mat-label>
            <input matInput [(ngModel)]="userRegistration.fullName" placeholder="შეიყვანეთ სახელი და გვარი">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>პირადი ნომერი</mat-label>
            <input matInput [(ngModel)]="userRegistration.tin" placeholder="შეიყვანეთ პირადი ნომერი">
          </mat-form-field>
        </div>
        <div style="float: left; width: 50%;">
          <mat-form-field appearance="outline">
            <mat-label>პაროლი</mat-label>
            <input matInput type="password" [(ngModel)]="userRegistration.password" placeholder="შეიყვანეთ პაროლი">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>გაიმეორეთ პაროლი</mat-label>
            <input matInput type="password" [(ngModel)]="userRegistration.confirmPassword" placeholder="შეიყვანეთ განმეორებით პაროლი">
          </mat-form-field>
          <button class="mat-button" style="background: #f9c42e;color:white" mat-button (click)="register()">რეგისტრაცია</button>
        </div>
      </mat-card>
    </ng-container>
    <ng-container *ngIf="registrationType==1">
      <mat-card>
        <div style="float: left; width: 50%; padding-right: 20px;">
          <mat-form-field appearance="outline">
            <mat-label>კომპანიის დასახელება</mat-label>
            <input matInput [(ngModel)]="userRegistration.fullName" placeholder="შეიყვანეთ კომპანიის დასახელება">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>მაგ. შ </mat-hint> -->
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>საიდენტიფიკაციო ნომერი</mat-label>
            <input matInput [(ngModel)]="userRegistration.tin" placeholder="შეიყვანეთ საიდენტიფიკაციო ნომერი">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>სამართლებრივი ფორმა</mat-label>
            <input matInput [(ngModel)]="userRegistration.samformaType" placeholder="">
          </mat-form-field>
        </div>
        <div style="float: left; width: 50%;">
          <mat-form-field appearance="outline">
            <mat-label>ელ. ფოსტა</mat-label>
            <input matInput [(ngModel)]="userRegistration.email" placeholder="შეიყვანეთ ელ.ფოსტა">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>პაროლი</mat-label>
            <input matInput type="password" [(ngModel)]="userRegistration.password" placeholder="შეიყვანეთ პაროლი">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>გაიმეორეთ პაროლი</mat-label>
            <input matInput type="password" [(ngModel)]="userRegistration.confirmPassword" placeholder="შეიყვანეთ განმეორებით პაროლი">
          </mat-form-field>
          <button class="mat-button" style="background: #f9c42e;color:white" mat-button (click)="register()">რეგისტრაცია</button>
        </div>
      </mat-card>
    </ng-container>
  </ng-container>

</div>