<app-header></app-header>
<main class="centerArea">
    <div class="messagesContainer">
        <div class="chatHeads">
            <div class="chatHead">
                <img src="../../../assets/img/portfolio/fullsize/1.jpg" alt="" class="profilePhoto" />
                <span class="fullName">გიორგი მჭედლიშვილი</span>
                <span class="date">10-10-2020</span>
                <div class="messageReview">hello world ghisgo igasohifgoy gdsoag oyadgo</div>
            </div>
        </div>
        <div class="chatDetails">
            <div class="userTitle"></div>
            <div class="messages">
                <div class="messageBox">
                    <div class="messageNode">
                        <div class="sender">Gigi</div>
                        <div class="messageText">blablbliablabl</div>
                    </div>
                </div>
                <div class="messageBox">
                    <div class="messageNode">
                        <div class="sender">Gigi</div>
                        <div class="messageText">blablbliablabl</div>
                    </div>
                </div>
                <div class="messageBox">
                    <div class="messageNode">
                        <div class="sender">Gigi</div>
                        <div class="messageText">blablbliablabl</div>
                    </div>
                </div>
                <div class="messageBox MyMessage">
                    <div class="messageNode">
                        <div class="sender">Gigi</div>
                        <div class="messageText">blablbliablabl</div>
                    </div>
                </div>
                <div class="messageBox MyMessage">
                    <div class="messageNode">
                        <div class="sender">Gigi</div>
                        <div class="messageText">blablbliablabl</div>
                    </div>
                </div>
                <div class="messageBox MyMessage">
                    <div class="messageNode">
                        <div class="sender">Gigi</div>
                        <div class="messageText">blablbliablabl</div>
                    </div>
                </div>

            </div>
            <div class="writeMessage"></div>
        </div>
    </div>
</main>