<app-header></app-header>
<main class="centerArea">
    <div class="messagesContainer">
        <div class="chatHeads">
            <div class="chatHead" [ngClass]="openedChat && chat.id == openedChat.id ? 'active' : ''"
                [attr.unread]="isUnread(chat.id)" *ngFor="let chat of recentChats" (click)="openChat(chat)">
                <img src="../../../assets/img/portfolio/fullsize/1.jpg" alt="" class="profilePhoto" />
                <span class="fullName">{{chat.name}}</span>
                <span class="date">{{chat.lastMessageDateStr}}</span>
                <div class="messageReview">{{chat.lastMessage}}</div>
            </div>
        </div>
        <div class="chatDetails">
            <app-loader [invert]="true" *ngIf="showLoader"></app-loader>
            <div class="userTitle" *ngIf="openedChat">
                <img src="../../../assets/img/portfolio/fullsize/1.jpg" alt="" class="profilePhoto">
                <span _ngcontent-jdf-c136="" class="fullName">{{openedChat.name}}</span>
            </div>
            <div class="messages" *ngIf="openedChat" #messagesView>
                <!-- <div class="messageBox">
                    <div class="messageNode">
                        <div class="sender">Gigi</div>
                        <div class="messageText">blablbliablabl</div>
                    </div>
                </div> -->
                <div class="messageBox" [ngClass]="isMyMessage(message) ? 'MyMessage' : ''"
                    *ngFor="let message of messages">
                    <div class="messageNode">
                        <!-- <div class="sender">{{message.fromUserName}}</div> -->
                        <div class="messageText">{{message.message}}</div>
                    </div>
                </div>
            </div>
            <div class="writeMessage" *ngIf="openedChat">
                <textarea required matInput placeholder="მიწერე" [(ngModel)]="typedText"
                    (keydown.enter)="$event.preventDefault()" (keyup.enter)="sendMessage()"></textarea>
            </div>
            <h1 *ngIf="!openedChat" class="chooseChatTxt">აირჩიე ჩატი</h1>
        </div>
    </div>
</main>