.date {
    float: left;
  }
  .jobArea {
    height: 100%;
    float: left;
    overflow: hidden;
  }
  h1 {
    font-size: 22px;
    font-family: FiraGO-Regular;
  }
  p {
    font-family: FiraGO-Book;
  }
  .job {
      float: left;
      width: 100%;
    .projName {
      float: left;
    }
    .projDeadline {
      width: auto;
      float: right;
      font-size: 13px;
    }
    .projDescription {
      clear: both;
      color: #636363;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .statusText {
        float: right;
        font-size: 14px;
    }
  }
  
  mat-card[expanded="true"] {
    .projDescription {
        white-space: normal;
        text-overflow: unset;
        overflow: auto;
    }
  }
  mat-card.jobDetailsCard {
    display: grid;
    // grid-template-columns: 70% 30%;
    // grid-template-rows: auto;
    // row-gap: 20px;
  }
  mat-card {
    width: 800px;
    margin: auto;
    height: auto;
    padding: 15px 30px;
    border: 1px solid #d2d2d2;
    box-shadow: none !important;
  
    &[expanded="true"] {
        height: auto;
    }

    .bidsHeadline {
        color: var(--blue);
    }
    .criterias {
      // border-top: 1px solid #b7b7b7;
      padding: 10px;
      color: var(--blue);
    }
    .jobDetails {
      display: grid;
      p {
        font-weight: bold;
        font-size: 13px;
        // place-self: center;
        // text-align: center;
        font-family: FiraGO-Regular;
      }
    }
  }
  .bids {
      margin-top: 20px;
  }
  .bidsContainer {
    h1 {
        font-size: 17px;
    }  
    .bid {
      margin-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #d0d0d0;
      button {
        padding: 15px 25px;
        // background: black;
        color: white;
        font-size: 15px;
        border-radius: 5px; 
      }
      .acceptBid {
        background-color: var(--green);
        &:hover {
            background-color: darken($color: green, $amount: 2);
        }
      }
  }
}